<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>Motorcycle Safety</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content="">
<link type="image/x-icon" href="static/images/favicon.png" />
<link href="static/css/bootstrap.css" rel="stylesheet">
<link href="static/css/settings.css" rel="stylesheet">
<link href="static/js/google-code-prettify/prettify.css" rel="stylesheet">
<link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
<link href="static/css/color/green.css" rel="stylesheet">
<link href='https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css'>
<link href="static/type/fontello.css" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="shortcut icon" href="../static/images/icons/favicon.ico" type="image/x-icon" />
<script src="https://d3js.org/d3.v5.min.js"></script>
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

<script src="{{ url_for('static', filename='js/jquery.js') }}"></script> 
<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script> 
<script src="{{ url_for('static', filename='js/twitter-bootstrap-hover-dropdown.min.js') }}"></script> 
<script src="{{ url_for('static', filename='js/jquery.themepunch.plugins.min.js') }}"></script> 
<script src="{{ url_for('static', filename='js/jquery.themepunch.revolution.min.js') }}"></script> 
<script src="{{ url_for('static', filename='js/jquery.themepunch.showbizpro.min.js') }}"></script> 
<script src="{{ url_for('static', filename='js/jquery.fitvids.js') }}"></script> 
<script src="{{ url_for('static', filename='js/jquery.slickforms.js') }}"></script> 
<script src="{{ url_for('static', filename='js/jquery.isotope.min.js') }}"></script> 
<script src="{{ url_for('static', filename='js/google-code-prettify/prettify.js') }}"></script> 
<script src="{{ url_for('static', filename='js/jquery.easytabs.min.js') }}"></script> 
<script src="{{ url_for('static', filename='js/jquery.jribbble-0.11.0.ugly.js') }}"></script> 
<script src="{{ url_for('static', filename='js/view.min.js?auto') }}"></script> 
<script src="{{ url_for('static', filename='js/scripts.js') }}"></script>



<!--[if IE 8]>
<link rel="stylesheet" type="text/css" href="static/css/ie8.css" media="all" />
<![endif]-->
<!--[if lt IE 9]>
<script src="static/js/html5shiv.js"></script>
<![endif]-->
</head>
<body data-spy="scroll" data-target=".nav-collapse" data-offset="100">
<div class="body-wrapper">
  <div id="header" class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container"> <a class="btn responsive-menu pull-right" data-toggle="collapse" data-target=".nav-collapse"><i class='icon-menu-1'></i></a> <a class="brand" href="/"><img src="static/images/Picture1.png" alt="" /></a>
        <div class="nav-collapse pull-right collapse">
          <ul class="nav">
            <li><a href="#home">Home</a></li>
            <li class="dropdown"> <a href="#about" class="dropdown-toggle js-activated">About</a>
              <ul class="dropdown-menu">
                <li><a href="#about">About This Project</a></li>
                <li><a href="#team">Team</a></li>
              </ul>
            </li>
            <li class="dropdown"> <a href="#showcase" class="dropdown-toggle js-activated">Motorcycle Accident Plots</a>
              <ul class="dropdown-menu">
                <!-- <li><a href="#showcase">Showcase</a></li>
                <li><a href="#lightbox">Lightbox</a></li>
                <li><a href="#gallery">Gallery</a></li> -->
              </ul>
            </li>
            <li class="dropdown"> <a href="#lightbox" class="dropdown-toggle js-activated">Severity Injury Predictor</a>
                <ul class="dropdown-menu">
                  <!-- <li><a href="#showcase">Showcase</a></li>
                  <li><a href="#lightbox">Lightbox</a></li>
                  <li><a href="#gallery">Gallery</a></li> -->
                </ul>
              </li>
            <li><a href="#contact">Get In Touch</a></li>
           
          </ul>
        </div>
        <!-- .nav-collapse --> 
      </div>
      <!-- .container --> 
    </div>
    <!-- .navbav-inner --> 
  </div>
  <!-- .navbar -->
  <section id="home" class="offset">
    <div class="fullwidthbanner-container revolution">
      <div class="fullwidthbanner">
        <ul>
          <li data-transition="fade"> <img src="static/images/group.jpg" alt="" />
            <div class="caption sfl bold bg text-center" data-x="center" data-y="220" data-speed="500" data-start="500" data-easing="easeOutExpo">Texas Motorcycle Safety Genius</div>
            <div class="caption sfr lite bg text-center" data-x="center" data-y="359" data-speed="500" data-start="900" data-easing="easeOutExpo">A Motorcyclist Safety Tool</div>
          </li>
        </ul>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <!-- /.fullscreen-banner --> 
    </div>
    <!-- /.fullscreen-container --> 
  </section>
  
  
  
  <!-- #home -->
  <section id="about" class="light-wrapper">
    <div class="section-head">
      <div class="container">
        <h1>About This Project</h1>
      </div>
      <!-- /.container --> 
    </div>
    <!-- /.section-head -->
    <div class="container inner">
      <div class="row">
        <div class="span3 rp10"> <img src="static/images/accident2.jpeg" class="round" alt="" /> </div>
        <!-- /.span3 -->
        <div class="span9">
          <div class="divide10"></div>
          <p class="lead"> Riding a motorcycle is about freedom, passion, and enjoying life: however, it is also about taking calculated risks using educational decision making! We want to answer the question: "how risky is riding a motorcycle?".</p>
          <p class="lead"> </p>
          <div class="divide10"></div>
          <p>Our project attempts to evaluate ride risk factors associated with riding motorcycles. We want to educate motorcyclists how certain riding factors can change expected injury severity outcomes while riding.</p>
        </div>
        <!-- /.span9 --> 
      </div>
      <!-- /.row -->
      
      <div class="divide80"></div>
      <div class="row">
        <div class="span6">
          <h4>What We Do?</h4>
          <p>We created Classification Machine Learning Models with the Random Decision Forest method to predict the injury severity of the a motorcyclists given controllable variables. </p>
          <p>We assembled plots for the given inputs of Age, Gender, Previous Accidents, Previous Speeding Violations, Previous DWI Violations, Drug Use, Alcohol Use, Helmet Use and Desired Weather Conditions.</p>
        </div>
        <!-- /.span4 -->
        <div class="span6">
          <h4>Our Process</h4>
          <p>With over 50 years of techincal experience, our team's process is systematic, detailed oriented, and balanced with diverse perspectives to ensure an unbiased analysis.</p>
          <ol>
            <li>We searched for a well versed dataset and decided to use the <a href="https://www.nhtsa.gov/node/97996/251">Fatal Accident Report System (FARS)</a> from the National Highway Traffic Safety Administration.</li>
            <li>Looking through the data, we chose to focus on motorcyle accidents in Texas from 2014-2018. We cleaned our data using <a href="https://www.python.org/">Python</a> and <a href="https://pandas.pydata.org/">Pandas</a>, saving the new data frames out as CSV files.</li>
            <li>Reading in the output from the CSV files created above, we create a Classification Machine Learning model using <a href="https://scikit-learn.org/">SKLearn</a>, 
              utilizing the <a href="https://scikit-learn.org/stable/modules/generated/sklearn.ensemble.RandomForestClassifier.html">RandomForestClassifier</a> to make predictions based off previous accidents.</li>
            <li>We also created seperate month and weekday models the strictly focused on either the day of the week or which month, to determine if there were higher risk factors associated the date. These are presented once the form is submitted.</li>
            <li>After utilizing our models to make educated predictions, we then created an webpage that allows the user to look through our data and test their own scenarios to determine how risky future rides will be.</li>
            <li>We then chose to plot out many of our risk factors to show the user how they contribute to our model. We used <a href="https://plotly.com/">Plotly</a> and <a href="https://d3js.org/">D3</a> to make our plots.</li>
            <br>

          </ol>
        </div>
      </div>
    </div>
    <!-- /.container --> 
  </section>
  <!-- /#about -->
  <section id="team" class="dark-wrapper">
    <div class="section-head">
      <div class="container">
        <h1>Meet the Team</h1>
      </div>
      <!-- /.container --> 
    </div>
    <!-- /.section-head -->
    <div class="container inner">
      <div class="divide20"></div>
      <div class="row text-center">
        <div class="span3"> <img src="static/images/Lourd.JPG" class="round small" alt="" />
          <div class="divide25"></div>
          <div class="box arrow">
            <h4>Lourdes Milano</h4>
            <h6 class="light">Geoscientist</h6>
            <div class="divide10"></div>
            <div class="divide5"></div>
          </div>
          <!-- /.box --> 
        </div>
        <!-- /.span4 -->
        <div class="span3"> <img src="static/images/Ben.JPG" class="round small" alt="" />
          <div class="divide25"></div>
          <div class="box arrow">
            <h4>Ben Bastedo</h4>
            <h6 class="light">Procurement Manager</h6>
            <div class="divide10"></div>
            <div class="divide5"></div>
          </div>
          <!-- /.box --> 
        </div>
        <!-- /.span4 -->
        <div class="span3"> <img src="static/images/Santana.JPG" class="round small" alt="" />
          <div class="divide25"></div>
          <div class="box arrow">
            <h4>Luis Santana</h4>
            <h6 class="light">Reservoir Engineer</h6>
            <div class="divide10"></div>
            <div class="divide5"></div>
          </div>
          <!-- /.box --> 
        </div>
        <!-- /.span4 --> 
        <div class="span3"> <img src="static/images/Sordo.JPG" class="round small" alt="" />
            <div class="divide25"></div>
            <div class="box arrow">
              <h4>Luis Casas</h4>
              <h6 class="light">Reservoir Engineer</h6>
              <div class="divide10"></div>
              <div class="divide5"></div>
            </div>
            <!-- /.box --> 
          </div>
          <!-- /.span4 -->
      </div>
      <!-- /.row --> 
    </div>
    <!-- /.container --> 
  </section>
  <!-- /#team -->
  
  <div class="parallax testimonials">
    <div class="container inner text-center">
      <h2>Our mottos...</h2>
      <div class="divide10"></div>
      <div id="our-testimonials" class="testimonials-tab tab-container">
        <div class="panel-container">
          <div id="tst1" class="tab-block"> "When you are in doubt, throttle it out!" <span class="author">Lourdes Milano</span> </div>
          <div id="tst2" class="tab-block"> "The best rides happen on two wheels" <span class="author">Luis Casas</span> </div>
          <div id="tst3" class="tab-block"> "Be Fast or Be Last!" <span class="author">Luis Santana</span> </div>
          <div id="tst4" class="tab-block"> "When life throws you a curve, lean into it" <span class="author">Ben Bastedo</span> </div>
        </div>
        <!-- /.panel-container -->
        <ul class="etabs">
          <li class="tab"><a href="#tst1">1</a></li>
          <li class="tab"><a href="#tst2">2</a></li>
          <li class="tab"><a href="#tst3">3</a></li>
          <li class="tab"><a href="#tst4">4</a></li>
        </ul>
        <!-- /.etabs --> 
      </div>
      <!-- /.testimonials-tab --> 
    </div>
    <!-- /.container --> 
  </div>
 

  <!-- ####################################### -->
  <!--  DASHBOARD PLOTS                        -->
  <!-- ####################################### -->
  <section id="showcase" class="light-wrapper">
    <div class="section-head">
      <div class="container">
        <h1>Motorcycle Accident Plots</h1>
      </div>
      <!-- /.container --> 
    </div>
    <!-- /.section-head -->
    <div class="container showcase-wrapper">
      <div class="inner">
        <p class="lead">We plot many different varibales to show their impact in a motorcyclist's risk factor.</p>
        <!-- <div class="divide30"></div> -->
        <!-- <ul class="filter">
          <li><a class="active" href="#" data-filter="*">All</a></li>
          <li><a href="#" data-filter=".branding">Branding</a></li>
          <li><a href="#" data-filter=".poster">Poster</a></li>
          <li><a href="#" data-filter=".illustration">Illustration</a></li>
          <li><a href="#" data-filter=".video">Video</a></li>
        </ul> -->
        <!-- /.filter -->
        <!-- <div class="container-fluid">
          <div class="container-fluid">
            <div class="row">
              <div class="col-sm-3 col-md-6 bg-success">
                <iframe width=100% src="/plot7"></iframe>
              </div>
              <div class="col-sm-9 col-md-6 bg-warning">
                Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
              </div>
            </div>
          </div>
        </div>    -->

        <table>
          <tr>
            <td><iframe src="/plot7" width="900" height="500"></iframe></td>
            <td>The number of accidents increased from 1998 to 2008 increased by 3.7 times. Since 2008, the number of accidents has remained relatively constant at around 800 a year.
              </td>
          </tr>
          <tr>
            <td><iframe src="/plot5" width="900" height="500"></iframe></td>
            <td>We analyzed the past 20 years of data from motorcycle accidents in Texas. We observed that three of five scenarios, or approximately 60%, of accidents result in death. <b>Tip: The best way to avoid a fatal injury is to avoid any accident!</b></td>
          </tr>
          <tr>
            <td><iframe src="/plot2" width="900" height="500"></iframe></td>
            <td>Weekends seems to be the days where the accident occurrence increases since likely the number of riders also increases. Saturday and Sunday are the days of highest accident occurrence during any given week.</td>
          </tr>
          <tr>
            <td><iframe src="/plot6" width="900" height="500"></iframe></td>
            <td>A common myth likens motorcycle accidents to be the most dangerous at intersections. This data validates an alternative view where 68% of accidents are not at intersections.</td>
          </tr>
          <tr>
            <td><iframe src="/plot1" width="900" height="500"></iframe></td>
            <td>Another myth points out that accidents increase when weather conditions are different than a "clear day", such as rainy, foggy and cloudy days. However, the data evaluated shows that over 90% of accidents occurred under a clear sunny day! So, do not be so sure of pulling hard that throttle when the almighty sun is bright. Don't be overconfident. </td>
          </tr>
          <tr>
            <td><iframe src="/plot4" width="900" height="500"></iframe></td>
            <td>Historical data supports that motorcyclists are 2.4 times more likely to be involved in an accident if they are impaired by alcohol. Two of the most important skills any motorcyclist can possess are balance and clear decision making while riding. Don't drink and ride!</td>
          </tr>
          <tr>
            <td><iframe src="/plot3" width="900" height="500"></iframe></td>
            <td>There were approximately 2,400 fatalities in Texas involving motorcyclists riding without a helmet since 1998. We are curious how many of these fatalities could have had their injury severity lowered if proper protection equipment was worn. Please be smart and wear a helmet when riding!</td>
          </tr>
        </table>


      </div>
      <!--/.inner--> 
    </div>
    <!--/.container--> 
  </section>
  <!--/#showcase-->


  <!-- ############################# -->
  <!--  PREDICTOR -->
  
  <section id="lightbox" class="light-wrapper">
    <div class="section-head">
      <div class="container">
        <h1>Severity Injury Predictor</h1>
      </div>
      <!-- /.container --> 
    </div>
    <!-- /.section-head -->
    <div class="container lightbox-wrapper">
      <div class="inner">
        <p class="lead">Please select the inputs you would like to test. Variable such as day of the week and month are calculated for all submissions.</p>
        <!-- <div class="divide30"></div> -->
        <!-- <li data-transition="fade"><iframe src="static/app/templates/index.html" width="1170" height="600"></iframe></li> -->
        <h1>Severe Injury Ratings Form:</h1>
        <form method=post enctype=multipart/form-data>
          <label for="Age">Age of Rider:</label>
          <!-- <input type=“text” id=“Age” name=“Age” value=30> -->
          <select id="Age" name="Age">
          <option [ngValue]="15">15</option>
          <option [ngValue]="16">16</option>
          <option [ngValue]="17">17</option>
          <option [ngValue]="18">18</option>
          <option [ngValue]="19">19</option>
          <option [ngValue]="20">20</option>
          <option [ngValue]="21">21</option>
          <option [ngValue]="22">22</option>
          <option [ngValue]="23">23</option>
          <option [ngValue]="24">24</option>
          <option [ngValue]="25">25</option>
          <option [ngValue]="26">26</option>
          <option [ngValue]="27">27</option>
          <option [ngValue]="28">28</option>
          <option [ngValue]="29">29</option>
          <option [ngValue]="30">30</option>
          <option [ngValue]="31">31</option>
          <option [ngValue]="32">32</option>
          <option [ngValue]="33">33</option>
          <option [ngValue]="34">34</option>
          <option [ngValue]="35">35</option>
          <option [ngValue]="36">36</option>
          <option [ngValue]="37">37</option>
          <option [ngValue]="38">38</option>
          <option [ngValue]="39">39</option>
          <option [ngValue]="40">40</option>
          <option [ngValue]="41">41</option>
          <option [ngValue]="42">42</option>
          <option [ngValue]="43">43</option>
          <option [ngValue]="44">44</option>
          <option [ngValue]="45">45</option>
          <option [ngValue]="46">46</option>
          <option [ngValue]="47">47</option>
          <option [ngValue]="48">48</option>
          <option [ngValue]="49">49</option>
          <option [ngValue]="50">50</option>
          <option [ngValue]="51">51</option>
          <option [ngValue]="52">52</option>
          <option [ngValue]="53">53</option>
          <option [ngValue]="54">54</option>
          <option [ngValue]="55">55</option>
          <option [ngValue]="56">56</option>
          <option [ngValue]="57">57</option>
          <option [ngValue]="58">58</option>
          <option [ngValue]="59">59</option>
          <option [ngValue]="60">60</option>
          <option [ngValue]="61">61</option>
          <option [ngValue]="62">62</option>
          <option [ngValue]="63">63</option>
          <option [ngValue]="64">64</option>
          <option [ngValue]="65">65</option>
          <option [ngValue]="66">66</option>
          <option [ngValue]="67">67</option>
          <option [ngValue]="68">68</option>
          <option [ngValue]="69">69</option>
          <option [ngValue]="70">70</option>
          <option [ngValue]="71">71</option>
          <option [ngValue]="72">72</option>
          <option [ngValue]="73">73</option>
          <option [ngValue]="74">74</option>
          <option [ngValue]="75">75</option>
          <option [ngValue]="76">76</option>
          <option [ngValue]="77">77</option>
          <option [ngValue]="78">78</option>
          <option [ngValue]="79">79</option>
          <option [ngValue]="80">80</option>
          <option [ngValue]="81">81</option>
          <option [ngValue]="82">82</option>
          <option [ngValue]="83">83</option>
          <option [ngValue]="84">84</option>
          <option [ngValue]="85">85</option>
          <option [ngValue]="86">86</option>
          <option [ngValue]="87">87</option>
          <option [ngValue]="88">88</option>
          <option [ngValue]="89">89</option>
          <option [ngValue]="90">90</option>
          <option [ngValue]="91">91</option>
          <option [ngValue]="92">92</option>
          <option [ngValue]="93">93</option>
          <option [ngValue]="94">94</option>
          <option [ngValue]="95">95</option>
          <option [ngValue]="96">96</option>
          <option [ngValue]="97">97</option>
          <option [ngValue]="98">98</option>
          <option [ngValue]="99">99</option>
        </select><br>
          <label for="Gender">Gender of Rider:</label>
          <select id="Gender" name="Gender">
            <option value="Male">Male</option>
            <option value="Female">Female</option>
          </select><br>
          <label for="Previous Accident"># of Previous Accidents:</label>
          <!-- <input type=“text” id=“Previous Accident” name=“Previous Accident” value=0> -->
          <select id="Previous Accident" name="Previous Accident">
            <option [ngValue]="0">0</option>
            <option [ngValue]="1">1</option>
            <option [ngValue]="2">2</option>
            <option [ngValue]="3">3</option>
            <option [ngValue]="4">4</option>
            <option [ngValue]="5">5</option>
            <option [ngValue]="6">6</option>
            <option [ngValue]="7">7</option>
            <option [ngValue]="8">8</option>
            <option [ngValue]="9">9</option>
          </select><br>
          <label for="Previous Speeding"> # of Previous Speeding Violations:</label>
          <select id="Previous Speeding" name="Previous Speeding">
            <option [ngValue]="0">0</option>
            <option [ngValue]="1">1</option>
            <option [ngValue]="2">2</option>
            <option [ngValue]="3">3</option>
            <option [ngValue]="4">4</option>
            <option [ngValue]="5">5</option>
            <option [ngValue]="6">6</option>
            <option [ngValue]="7">7</option>
            <option [ngValue]="8">8</option>
            <option [ngValue]="9">9</option>
          </select><br>
          <label for="Previous DWI"># of Previous DWI Violations:</label>
          <select id="Previous DWI" name="Previous DWI">
            <option [ngValue]="0">0</option>
            <option [ngValue]="1">1</option>
            <option [ngValue]="2">2</option>
            <option [ngValue]="3">3</option>
            <option [ngValue]="4">4</option>
            <option [ngValue]="5">5</option>
            <option [ngValue]="6">6</option>
            <option [ngValue]="7">7</option>
            <option [ngValue]="8">8</option>
            <option [ngValue]="9">9</option>
          </select><br>
          <!-- <input type="text" id="Previous DWI" name="Previous DWI" placeholder="0"><br> -->
          <label for="Drugs">Will Rider Use Drugs Before Riding:</label>
          <select id="Drugs" name="Drugs">
            <option value="No Drugs">No</option>
            <option value="Drug Use Reported">Yes</option>
          </select><br>
          <label for="Alcohol">Will Rider Drink Alcohol Before Riding:</label>
          <select id="Alcohol" name="Alcohol">
            <option value="No Drinking">No </option>
            <option value="Drinking Reported">Yes</option>
          </select><br>
          <label for="Helmet Use">Will Rider Wear a Helmet:</label>
          <select id="Helmet Use" name="Helmet Use">
            <option value="No">No </option>
            <option value="Yes">Yes</option>
          </select><br>
          <label for="Weather">Ideal Weather Conditions During Ride:</label>
          <select id="Weather" name="Weather">
            <option value="Clear Weather">Clear </option>
            <option value="Rainy Weather">Rainy</option>
            <option value="Foggy Weather">Foggy</option>
            <option value="Severly Windy Weather">Severly Windy</option>
            <option value="Blowing Sand Weather">Blowing Sand</option>
          </select><br>
      
          <input type=submit id= submit value=Plot>
        </form>
        <div id="plot"></div>
        <div id="plot1"></div>
        
        <!-- <ul class="filter">
          <li><a class="active" href="#" data-filter="*">All</a></li>
          <li><a href="#" data-filter=".branding">Branding</a></li>
          <li><a href="#" data-filter=".poster">Poster</a></li>
          <li><a href="#" data-filter=".illustration">Illustration</a></li>
        </ul> -->
        <!-- /.filter -->
     
        <!-- <ul class="items thumbs"> -->
          <!-- <li class="item thumb branding"> <a href="static/images/art/p1.jpg" class="view" data-rel="lightbox" title="Headlight Media"> -->
            <!-- <div class="overlay"> -->
              <!-- <div class="info"> -->
                <!-- <h4>Headlight Media</h4> -->
                <!-- <span>Logo, Branding</span> </div> -->
              <!-- /.info --> 
            <!-- </div> -->
            <!-- /.overlay --> 
            <!-- <img src="static/images/art/p1.jpg" alt="" /></a> </li> -->
          <!-- /.item -->
          <!-- <li class="item thumb illustration"> <a href="static/images/art/p2.jpg" class="view" data-rel="lightbox" title="Media Icons"> -->
            <!-- <div class="overlay"> -->
              <!-- <div class="info"> -->
                <!-- <h4>Media Icons</h4> -->
                <!-- <span>Icons, Vector</span> </div> -->
              <!-- /.info --> 
            <!-- </div> -->
            <!-- /.overlay --> 
            <!-- <img src="static/images/art/p2.jpg" alt="" /></a> </li> -->
          <!-- /.item -->
          <!-- <li class="item thumb poster illustration"> <a href="static/images/art/p3.jpg" class="view" data-rel="lightbox" title="Quizzical Lumberjack"> -->
            <!-- <div class="overlay"> -->
              <!-- <div class="info"> -->
                <!-- <h4>Quizzical Lumberjack</h4> -->
                <!-- <span>Illustration, Hackathon</span> </div> -->
              <!-- /.info --> 
            <!-- </div> -->
            <!-- /.overlay --> 
            <!-- <img src="static/images/art/p3.jpg" alt="" /></a> </li> -->
          <!-- /.item -->
          <!-- <li class="item thumb illustration"> <a href="static/images/art/p4.jpg" class="view" data-rel="lightbox" title="Hacked"> -->
            <!-- <div class="overlay"> -->
              <!-- <div class="info"> -->
                <!-- <h4>Hacked</h4> -->
                <!-- <span>Illustration, Vector</span> </div> -->
              <!-- /.info --> 
            <!-- </div> -->
            <!-- /.overlay --> 
            <!-- <img src="static/images/art/p4.jpg" alt="" /></a> </li> -->
          <!-- /.item -->
        <!-- </ul> -->
        <!--/.items--> 
      </div>
      <!--/.inner--> 
    </div>
    <!--/.container--> 
  </section>
  <!--/#lightbox-->


    

  <!--/#blog -->
  
  <section id="contact">
    <div class="section-head">
      <div class="container">
        <h1>Contact Us</h1>
      </div>
    </div>
    <div class="parallax contact">
      <div class="container">
        <div class="row">
          <div class="span0">
          </div>
          <aside class="span4 sidebar lp10">
            <div class="container">
              <br>
              <ul class="contact-info">
                <h5><b>Luis Santana</b></h5>
                <li><i class="icon-phone"></i><a href="tel:12819282021">281-928-2021</a></li>
                <li><i class="icon-mail"></i> <a href="mailto:lasantanag@yahoo.com">lasantanag@yahoo.com</a></li>
                <li><i style="font-size:24px" class="fa">&#xf0e1;</i><a href="https://www.linkedin.com/in/benjaminbastedo">LinkedIn</a></li>
                <li><i class="fa fa-github" aria-hidden="true"></i><a href="https://github.com/lasantanag">GitHub</a></li>
              </ul><br>
              <ul class="contact-info">
                <h5><b>Ben Bastedo</b></h5>
                <li><i class="icon-phone"></i><a hreft="tel:12812531405">281-253-1405</a></li>
                <li><i class="icon-mail"></i> <a href="mailto:bbastedo4@gmail.com">bbastedo4@gmail.com</a></li>
                <li><i style="font-size:24px" class="fa">&#xf0e1;</i><a href="https://www.linkedin.com/in/benjaminbastedo">LinkedIn</a></li>
                <li><i class="fa fa-github" aria-hidden="true"></i></i><a href="https://github.com/bbastedo">GitHub</a></li>
              </ul><br>
              <ul class="contact-info">
                <h5><b>Lourdes Milano</b></h5>
                <li><i class="icon-phone"></i><a href="tel:12704210542">270-421-0542</a></li>
                <li><i class="icon-mail"></i> <a href="mailto:lourdes.rm10@gmail.com">lourdes.rm10@gmail.com</a></li>
                <li><i style="font-size:24px" class="fa">&#xf0e1;</i><a href="https://www.linkedin.com/in/lourdes-rodriguez-milano/">LinkedIn</a></li>
                <li><i class="fa fa-github" aria-hidden="true"></i><a href="https://github.com/lourdesrm">GitHub</a></li>
              </ul><br>
              <ul class="contact-info">
                <h5><b>Luis Casas</b></h5>
                <li><i class="icon-phone"></i><a href="tel:18322456753">832-245-6753</a></li>
                <li><i class="icon-mail"></i> <a href="mailto:cosamagrande@gmail.com">cosamagrande@gmail.com</a></li>
                <li><i style="font-size:24px" class="fa">&#xf0e1;</i><a href="https://www.linkedin.com/in/https://www.linkedin.com/in/luis-casas-779a0723/">LinkedIn</a></li>
                <li><i class="fa fa-github" aria-hidden="true"></i><a href="https://github.com/lasantanag">GitHub</a></li>
              </ul>
              <br>
              <br>
            </div>
          </aside>
        </div> 
            
            
            
            <!-- /.widget 
          </aside>
          <!-- /.span4 --> 
        <!-- </div> -->
        <!-- /.row -->
        <!-- <div class="clearfix"></div> -->
      <!-- </div> -->
      <!-- /.container -->
    <!-- </div> -->
    <!-- /.contact -->
  <!-- </section> -->
  <!-- /#contact -->
  <footer class="light-wrapper text-center">
   
  </footer>
  <!-- /footer -->
</div> 

<!--/.Plots--> 
<!-- <script src="static/test_app.js"></script> -->
    <!-- <script src="test_app2.js"></script> -->
    <!-- <script src="test_app3.js"></script> -->
    <!-- <script src="test_app4.js"></script> -->
    <!-- <script src="test_app5.js"></script> -->
    <!-- <script src="test_app6.js"></script> -->
    <!-- <script src="test_app7.js"></script> -->
    <!-- <script src="test_app8.js"></script> -->
<!--/.body-wrapper--> 
<script src="{{ url_for('static', filename='js/jquery.js') }}"></script> 
<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script> 
<script src="{{ url_for('static', filename='js/twitter-bootstrap-hover-dropdown.min.js') }}"></script> 
<script src="{{ url_for('static', filename='js/jquery.themepunch.plugins.min.js') }}"></script> 
<script src="{{ url_for('static', filename='js/jquery.themepunch.revolution.min.js') }}"></script> 
<script src="{{ url_for('static', filename='js/jquery.themepunch.showbizpro.min.js') }}"></script> 
<script src="{{ url_for('static', filename='js/jquery.fitvids.js') }}"></script> 
<script src="{{ url_for('static', filename='js/jquery.slickforms.js') }}"></script> 
<script src="{{ url_for('static', filename='js/jquery.isotope.min.js') }}"></script> 
<script src="{{ url_for('static', filename='js/google-code-prettify/prettify.js') }}"></script> 
<script src="{{ url_for('static', filename='js/jquery.easytabs.min.js') }}"></script> 
<script src="{{ url_for('static', filename='js/jquery.jribbble-0.11.0.ugly.js') }}"></script> 
<script src="{{ url_for('static', filename='js/view.min.js?auto') }}"></script> 
<script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
<script src="{{ url_for('static', filename='js/predict_app.js') }}"></script>
</body>
</html>