<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <title>Accident Severity</title>
</head>

<body>
    <h1>Enter parameters:</h1>
    <form method=post enctype=multipart/form-data>
        <label for="Age">What is your Age?:</label>
        <input type="text" id="Age" name="Age"><br>
        <label for="Gender">What is your Gender? (Male/Female/Gender Neutral):</label>
        <input type="text" id="Gender" name="Gender"><br>
        <label for="Previous Accident">Input Number of Previous Accidents? (0 if none):</label>
        <input type="text" id="Previous Accident" name="Previous Accident"><br>
        <label for="Previous Speeding"> Input Number of Previous Speeding Violations? (0 if none):</label>
        <input type="text" id="Previous Speeding" name="Previous Speeding"><br>
        <label for="Previous DWI">Input Number of Previous DWI Violations? (0 if none):</label>
        <input type="text" id="Previous DWI" name="Previous DWI"><br>
        <label for="Drugs">Drug Intoxication? (No Drugs, Drug Use Reported):</label>
        <input type="text" id="Drugs" name="Drugs"><br>
        <label for="Alcohol">Alcohol Intoxication? (No Drinking, Drinking Reported):</label>
        <input type="text" id="Alcohol" name="Alcohol"><br>
        <label for="Helmet Use"> Using Helmet? (Yes/No):</label>
        <input type="text" id="Helmet Use" name="Helmet Use"><br>
        <!-- <label for="Month"> Desired Month Input (January -> December ):</label>
        <input type="text" id="Month" name="Month"><br> -->
        <!-- <label for="Weekday">Desired Weekday Input (Sunday -> Monday):</label>
        <input type="text" id="Weekday" name="Weekday"><br> -->
        <label for="Weather"> Desired Weather Conditions Input (Clear Weather, Rainy Weather, Foggy Weather, Severly Windy Weather, Blowing Sand Weather):</label>
        <input type="text" id="Weather" name="Weather"><br>
        
        

        <input type=submit value=Submit>
    </form>

    <h3>Likelyhood of injury severity (0 - No InJury, 1 - Injury, 2 - Fatal Injury): {{ result }}</h3>
</body>

</html>