<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>Motorcycle Safety</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content="">
<link rel="shortcut icon" type="image/x-icon" href="static/images/favicon.png" />
<link href="static/css/bootstrap.css" rel="stylesheet">
<link href="static/css/settings.css" rel="stylesheet">
<link href="static/js/google-code-prettify/prettify.css" rel="stylesheet">
<link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
<link href="static/css/color/green.css" rel="stylesheet">
<link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css'>
<link href="static/type/fontello.css" rel="stylesheet">
<script src="https://d3js.org/d3.v5.min.js"></script>
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<!--[if IE 8]>
<link rel="stylesheet" type="text/css" href="static/css/ie8.css" media="all" />
<![endif]-->
<!--[if lt IE 9]>
<script src="static/js/html5shiv.js"></script>
<![endif]-->
</head>

<body>
<div class="primary">
  <div class="container">
    <div class="inner">
      <div class="navigation"> <a href="" class="btn pull-left back">Back</a> </div>
      <!-- /.navigation -->
      
      <div class="portfolio-bannercontainer revolution">

        <div class="portfolio-banner">
          <!-- <ul> -->
            <li data-transition="fade"><iframe src="/plot1" width="1170" height="600"></iframe></li>
            <!-- <li data-transition="fade"> <img src="static/images/art/pps2.jpg" alt="" /></li>
            <li data-transition="fade"> <img src="static/images/art/pps3.jpg" alt="" /></li> -->
          <!-- </ul> -->
 
        </div>
        <!-- /.portfolio-banner -->

      </div>
      <!-- /.portfolio-bannercontainer -->
      <h3></h3>
      <div class="row">
        
        <div class="span8">
        </div>
        <!-- /.span8 -->
        <div class="span4 lp20">
 

          
          <div class="divide10"></div>
          
        </div>
        <!-- /.span4 --> 
      </div>
      <!-- /.row --> 
    </div>
    <!-- /.inner --> 
  </div>
  <!--/.container --> 
</div>
<!--/.primary--> 
<!-- <script src="static/test_app.js"></script> -->
<script src="{{ url_for('static', filename='js/jquery.js') }}"></script> 
<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script> 
<script src="{{ url_for('static', filename='js/twitter-bootstrap-hover-dropdown.min.js') }}"></script> 
<script src="{{ url_for('static', filename='js/jquery.themepunch.plugins.min.js') }}"></script> 
<script src="{{ url_for('static', filename='js/jquery.themepunch.revolution.min.js') }}"></script> 
<script src="{{ url_for('static', filename='js/jquery.themepunch.showbizpro.min.js') }}"></script> 
<script src="{{ url_for('static', filename='js/jquery.fitvids.js') }}"></script> 
<script src="{{ url_for('static', filename='js/jquery.slickforms.js') }}"></script> 
<script src="{{ url_for('static', filename='js/jquery.isotope.min.js') }}"></script> 
<script src="{{ url_for('static', filename='js/google-code-prettify/prettify.js') }}"></script> 
<script src="{{ url_for('static', filename='js/jquery.easytabs.min.js') }}"></script> 
<script src="{{ url_for('static', filename='js/jquery.jribbble-0.11.0.ugly.js') }}"></script> 
<script src="{{ url_for('static', filename='js/view.min.js?auto') }}"></script> 
<script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
</body>
</html>